{% extends "base.html" %}
{% load static %}
{% block confirm_teacher_delete %}
<hr>
  <div class="container mt-4">
    <h3>Confirm Delete</h3>
    <h3 class="text text-danger">Are you sure you want to delete<span class="text text-success "> {{ object.firstname }} {{ object.fathername }}?</span></h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="submit" value="Yes, delete it." class="btn btn-danger">
      <a href="http://127.0.0.1:8000/attendance/teacher/" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
<hr>
{% endblock %}